/*  your css code here. If applicable */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width="500px";
	height: "300px";
}

img {
	width: 400px;
	height: 200px;
	object-fit: cover;
}

button {
	padding: 8px 10px;
	background-color: orangered;
	color: white;
	border-radius: 4px;
	border: none;
}

#content {
	text-align: center;
	padding:50px;
	font-size: 10px
}